@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .drag-region {
    -webkit-app-region: drag;
  }
  .no-drag-region {
    -webkit-app-region: no-drag;
  }
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
    margin: 0;
  }

  body {
    font-family: theme('fontFamily.sans');
    color: theme('colors.ink.DEFAULT');
    background: theme('colors.surface.DEFAULT');
    -webkit-font-smoothing: antialiased;
  }
}
